$border-color:#1976d2;
$sucess-color:green;

.option {
    cursor: pointer;
}

.game {
    align-items: center;

    .congrats {
        padding:20px;
        color:$sucess-color;
        border: $border-color;
    }
}
